<div class="main-content">
  <div class="container-fluid">
      <div class="row" *ngIf="data">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">save</i>
                      </div>
                      <p class="card-category">Disk Space</p>
                      <h3 class="card-title">Status: {{ data.diskSpace.status }}</h3><br>
                      <p class="card-text">Space: {{data.diskSpace.free}}Gb free of {{data.diskSpace.total}}Gb Threshold: {{data.diskSpace.threshold}}Gb</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Just Updated: <strong>{{data.updateTime}}</strong>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">terminal</i>
                      </div>
                      <p class="card-category">SQL Server</p>
                      <h3 class="card-title">Status: {{ data.SqlServer.status }}</h3><br>
                      <p class="card-text">Database: {{data.SqlServer.database}}</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Just Updated: <strong>{{data.updateTime}}</strong>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="row" *ngIf="data">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">dns</i>
                    </div>
                    <p class="card-category">RabbitMQ</p>
                    <h3 class="card-title">Status: {{ data.RabbitMQ.status}}</h3><br>
                    <p class="card-text">Queue: {{data.RabbitMQ.queue}}</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated: <strong>{{data.updateTime}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">public</i>
                    </div>
                    <p class="card-category">HTTP Check</p>
                    <h3 class="card-title">Status: {{ data.HttpCheck.status }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated: <strong>{{data.updateTime}}</strong>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row" *ngIf="data">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">settings</i>
                    </div>
                    <p class="card-category">Configuration Verification</p>
                    <h3 class="card-title">Status: {{ data.ConfigurationVerification.status }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated: <strong>{{data.updateTime}}</strong>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
